<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>
<body>
    <h2>Student Confirmation</h2>
    The Student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>
    <br><br>
    The Country: <span th:text="${student.country}"/>
    <br><br>
    The Favourite Language: <span th:text="${student.programmingLanguage}"/>
    <br><br>
    The Favourite OS:
    <ul>
        <li th:each="tempOS: ${student.operatingSystem}" th:text="${tempOS}"/>
    </ul>
</body>
</html>